html, body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
width: 250px;
position: fixed;
z-index: 1;
background-color: #0d6efd;
padding-top: 120px;
padding-right: 45px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  width: 238px;
}
.sidenav a:hover{
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  width: 238px;
}


.form-group{
  background-color:  #0d6efd;
  padding-left: 3%;
  margin-right: 8%;
  margin-left: 29%;
}
.btn-warning{
  color: white;
}
.btn-danger:hover {
  background-color: rgb(252, 90, 90);
  color: black;
}
.btn-warning:hover {
  background-color: rgb(255, 252, 74);

}
.btn-success {
width: 120px;
}
.btn-success:hover{
  background-color: rgb(1, 209, 1);
  color: black;
}

.btn-secondary:hover {
background-color:rgb(143, 142, 142);
color: black;
}